<h1>name: <%= @kitten.name %></h1>

<p>age: <%= @kitten.age %></p>

<p>cuteness: <%= @kitten.cuteness %></p>

<p>softness: <%= @kitten.softness %></p>

<ul>
  <li> <%= link_to "Home", root_path %>  </li>
  <li><%= link_to "Edit", edit_kitten_path(@kitten) %></li>
  <li><%= link_to "Destroy", kitten_path(@kitten), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
